/**
 * style.css
 * created on 06/08/2018
 * by Jeremie Primas
 */

/* Injected extension element container */
#am-altitude-container {
	position: fixed;
	bottom: 20px;
	left: 265px;
	height: 20px;
	width: 60px;
	text-align: center;
	background: rgba(34, 34, 34, .8);
	line-height: 20px;
}

/* Injected extension element inner text */
#am-altitude-container > p {
	color: #CCC;
	font-size: 11px;
}